apiVersion: apps/v1
kind: Deployment
metadata:
  name: cvspawner-app
  namespace: cvspawner
spec:
  template:
    spec:
      containers:
        - name: app
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cvspawner-scraper
  namespace: cvspawner
spec:
  template:
    spec:
      containers:
        - name: scraper
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
